<div class="nav">
        <a href="/">Home</a>
        <a href="/profile/{{username}}">Profile</a>
        <a href="/search">Search</a>
        <a href="/logout">Logout</a>
        <div id="Snippet">
            <h2>Logged in as..</h2>
            <h2>{{username}}</h2>
        </div>
</div>