<div class="nav">
        <a href="home.html">Home</a>
        <a href="profile.html">Profile</a>
        <a href="search.html">Search</a>
        <a href="login.html">Logout</a>
        <div id="Snippet">
            <img src="/images/king.jpg" alt="IMAGE" id="icon">
            <h2>Logged in as..</h2>
            <h2>QuadrupleBiceps120</h2>
        </div>
</div>