<div class="card post">
    <div class="post-icon"><img src="{{image}}" alt="Image"></div>
    <div class="post-author"><h2>{{author}}</h2></div>
    <div class="flex-break"></div>
    <div class="post-text"><p>{{content}}</p></div>
    <div class="flex-break"></div>
    <div class="create-comment"><form id="create-comment-form"><input type="button" class="upvote" value="upvote"></form></div>
</div>