<div class="card post">
    <div class="post-icon"><img src="images/king.jpg" alt="Image"></div>
    <div class="post-author"><h2>ABSolutelyKing24</h2></div>
    <div class="flex-break"></div>
    <div class="post-text"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ipsa aperiam saepe aspernatur explicabo ullam vel labore harum officiis laudantium.</p></div>
    <div class="flex-break"></div>
    <div class="create-comment"><form id="create-comment-form"><input type="text" placeholder="Write a reply"><input type="submit" value="Comment"><input type="button" class="upvote" value="upvote"></form></div>
    <div class="flex-break"></div>
    <div class="comment-section">
        <div class="user-comment"><div class="comment-icon"><img src="images/king.jpg" alt="img"></div><div class="commenter"><h2>QuadrupleBiceps120</h2></div><div class="flex-break"></div><div class="comment-content"><p>sheesh Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, eaque.</p></div></div>
    </div>
</div>