<html>
<head>
    <title>Edit Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/editprofile.css">
    
</head>
<body>
    {{> nav}}
    <div class="homeContainer">
        <div class="card">
            <div id="edit-container">
                <h1>Edit Profile</h1>
                <form method="POST">
                    <div class="edit-info">
                        <label for="updateUsername">Update Username</label><br>
                        <input type="text" name="updateUsername" value="{{username}}">
                        <p class="edit-error" id="updateUname-error"></p>
                    </div>
                    <div class="edit-info">
                        <label for="updatePassword">Update Password</label><br>
                        <input type="password" name="updatePassword" value="">
                        <p class="edit-error" id="updatePw-error"></p>
                    </div>
                    <div class="edit-info">
                        <label for="updateUsername">Update Bio</label><br>
                        <input type="text" name="updateBio" value="{{bio}}">
                        <p class="edit-error" id="updateBio-error"></p>
                    </div>
                    <input type="submit" class="edit-submit" value="Update Username" formaction="/updateUsername">
                    <input type="submit" class="edit-submit" value="Update Password" formaction="/updatePassword">
                    <input type="submit" class="edit-submit" value="Update Bio" formaction="/updateBio">
                </form>
            </div>
        </div>
    </div>
</body>
</html>