<html>
<head>
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/home.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> nav}}

    <div class="homeContainer">
        <h1 id="header">FLEXR: Your own place to brag</h1>
        <div class="card">
            <h2 style="color: white; letter-spacing: 5px;">Time to Flex</h2>
            <form id="create-post">
                <textarea name="content" id="content" cols="30" rows="4" placeholder="What's on your mind?" style="resize: none; width: 100%;padding: 10px;"></textarea>
                <input id="submit-post" type="submit" value="FLEX" style="width: 10%;padding: 10px; margin-top: 10px;">
            </form>
        </div>
        <div id="posts">
            {{#each posts}}
                {{> post}}
            {{/each}}
        </div>
    </div>
</body>
</html>