<html>
<head>
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    {{> nav}}
    
    <div class="homeContainer">
        <div class="card">
            <div class="profile-card">
                <div class="icon-div">
                    <img src="/images/{{image}}" alt="Image">
                </div>
                <div class="username-div">
                    <h1>{{username}}</h1>
                </div>
                <div class="profile-bio">
                    <p>{{bio}}</p>
                </div>
                {{#if owned}}
                <div class="edit-profile">
                    <a href="/editProfile">Edit Profile</a>
                </div>
                {{/if}}
            </div>
        </div>
        <div id="posts">
            {{#each posts}}
                {{> post}}
            {{/each}}
        </div>
    </div>
</body>
</html>