<html>
<head>
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/profile.css">
</head>
<body>
    {{> nav}}
    
    <div class="homeContainer">
        <div class="card">
            <div class="profile-card">
                <div class="icon-div">
                    <img src="/images/king.jpg" alt="Image">
                </div>
                <div class="username-div">
                    <h1>QuadrupleBiceps120</h1>
                </div>
                <div class="profile-bio">
                    <p>Di ako nagiisip eh basta alam ko goal ko, focus.</p>
                </div>
                <div class="edit-profile">
                    <a href="editProfile.html">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>