<html>
<head>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/register.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="card" id="register">
        <div id="form-card">
            <h1 id="title">Register</h1>
            <form action="/register" method="POST">
                <div class="label-div"><label for="username">Username</label></div>
                <input type="text" name="username" id="username" placeholder="Enter Username" required>
                <div class="error-div"><p id="username-error" class="error"> </p></div>
                <div class="label-div"><label for="password">Password</label></div>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
                <div class="error-div"><p id="password-error" class="error"></p></div>
                <div class="label-div"><label for="confirmpw">Confirm Password</label></div>
                <input type="password" name="confirmpw" id="confirmpw" placeholder="Confirm Password" required>
                <div class="error-div"><p id="confirmpw-error" class="error"></p></div>
                <div class="label-div"><label for="image">Select Avatar</label></div>
                <div class="select-image-container">
                    <div class="select-image"><img src="/images/king.jpg" alt="king"><br><input type="radio" name="image" value="king.jpg"></div>
                    <div class="select-image"><img src="/images/queen.png" alt="queen"><br><input type="radio" name="image" value="queen.png"></div>
                </div>
                <input type="submit" id="register-submit" value="Register" class="register-submit">
            </form>
        </div>
    </div>
</body>
</html>