<html>
<head>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/register.css">
</head>
<body>
    <div class="card" id="register">
        <div id="form-card">
            <h1 id="title">Register</h1>
            <form action="success.html">
                <div class="label-div"><label for="username">Username</label></div>
                <input type="text" name="username" placeholder="Enter Username" required>
                <div class="label-div"><label for="password">Password</label></div>
                <input type="password" name="password" placeholder="Enter Password" required>
                <div class="label-div"><label for="confirmpw">Confirm Password</label></div>
                <input type="password" name="confirmpw" placeholder="Confirm Password" required>
                <input type="submit" value="Register" class="register-submit">
            </form>
        </div>
    </div>
</body>
</html>