<html lang="en">
<head>
    <title>Search Results</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> nav}}

    <div class="homeContainer">
        {{#each posts}}

            {{> post}}

        {{/each}}
    </div>
</body>
</html>