body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.nav{
    height: 100%;
    position: fixed;
    width: 15%;
    background-color: rgb(65, 65, 65);
    background: linear-gradient(90deg, #43a1e4 0%, #6bf4a2 100%);
    border-radius: 0px 20px 20px 0px;
}

.homeContainer{
    margin-left: 15%;
    padding-left: 30px;
    padding-top: 20px;
}

#header{
    font-size: 50px;
}

.nav a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
    color: black;
}

.card{
    background-color: cornflowerblue;
    background: linear-gradient(90deg, #43a1e4 0%, #6bf4a2 100%);
    margin-left: 25%;
    width: 50%;
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
}

#create-post input[type=submit]{
    margin-left: 90%;
    height: 50px;
    width: 20%;
    background-color: #43a1e4;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    color: white;
    border: none;
}

#create-post input[type=submit]:hover{
    background-color: white;
    color: black;
}

#Snippet{
    margin-top: 150%;
}

#Snippet h2{
    padding-left: 20px;
    color: white;
    letter-spacing: 2px;
}

#icon{
    padding-left: 20px;
    width: 40%;
    height: 10%;
}

.post{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.post-icon{
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.post-icon img{
    width: inherit;
    height: inherit;
}

.post-author{
    padding-left: 20px;
}

.flex-break{
    flex-basis: 100%;
    height: 0;
}

.post-text{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    flex-basis: 100%;
    height: auto;
}


input[type="button"]{
    font-family: 'Oswald', sans-serif;
}

#create-comment-form{
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

#create-comment-form input[type="text"]{
    width: 75%;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

#create-comment-form input[type="submit"]{
    width: 12%;
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    border: none;
    background-color: #43a1e4;
    color: white;
    border-radius: 10px;
}

#create-comment-form input[type="button"]{
    width: 50px;
    margin-left: 92%;
    height: 50px;
    border: none;
    background-color: #43a1e4;
    color: white;
    border-radius: 10px;
}

#create-comment-form input[type="submit"]:hover{
    opacity: 80%;
}

#create-comment-form input[type="button"]:hover{
    opacity: 80%;
}

.create-comment{
    padding-top: 10px;
    flex-basis: 100%;
}

.comment-section{
    width: 100%;
    background-color: white;
    height: auto;
}

.user-comment{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.comment-icon{
    width: 50px;
    height: 50px;
    border: 10px solid #6bf4a2;
}

.comment-icon img{
    width: inherit;
    height: inherit;
}

.comment-content{
    padding-left: 10px;
}

.commenter{
    padding-left: 10px;
}


#search-form{
    display: flex;
    flex-wrap: wrap;
}

.search-input{
    padding: 10px;
    border: none;
    width: 90%;
}

.search-submit{
    width: 10%;
    background-color: #43a1e4;
    border: none;
    color: white;
}

.search-submit:hover{
    opacity: 80%;
}

.error{
    font-size: 10px;
    color: black;
}

.error-div{
    padding: 5px;
}

.author-profile{
    text-decoration: none;
}