.input{
    padding: 10px;
}

label{
    font-size: 20px;
}

input[type=text]{
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    height: 5%;
    font-size: 110%;
}

input[type=password]{
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    height: 5%;
    font-size: 110%;
}

.error{
    font-size: 70%;
}


#register{
    margin-top: 10%;
}
